.icons {
    margin: 5px;
}

.overview {
    margin: 20px;
}

.favouriteIcon {
    margin-left: 20px;
    margin-bottom: 20px;
    
}

.hideID {
    display: none;
}

.castPhoto {
  width: 80px;
  height: auto;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
}

.chessboard {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.chessboard ion-card {
    width: 140px;
}