//added a few specific styling options to my favourites page

.chessboard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.chessboard ion-card {
  width: 140px;
}

.movieCard {
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 100%;
}

.posterSize {
  width: 80px;
  height: auto;
  display: block;
  margin: 10px auto;
}

.titleSize {
    margin: 10px;
    text-align: center;
  }

  .buttonDetails {
    margin-bottom: 10px;
  }

 