<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-title slot="start">{{title}}</ion-title>
      <ion-button shape="round" slot="end" (click)="openHome()">
        <ion-icon name="home" class="icons"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="favourites" [fullscreen]="true">

  <ion-card *ngFor="let favourite of favourites">
    <img alt="Movie Poster" class="posterSize"
    [src]="posterURL + favourite.poster_path"
/>
      <ion-card-subtitle class="titleSize">{{favourite.title}}</ion-card-subtitle>
      <ion-button size="small" shape="round" fill="outline" class="buttonDetails" (click) = "openMovieDetails(favourite)">Details</ion-button>

  </ion-card>

</ion-content>
