<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G00473367</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-item>
    <ion-input label="Search" placeholder="Movie Name"></ion-input>
  </ion-item>
  <ion-button expand="block">SEARCH</ion-button>

  <ion-card *ngFor="let movie of trendingMovies">
    <img class="posterSize" [src] = "posterBase + movie.poster_path" alt="" />
    <ion-card-title class="titleSize">{{movie.title}}</ion-card-title>
    <ion-card-content>
      {{movie.overview}}
    </ion-card-content>
  </ion-card>

</ion-content>
